/* TOP SECTION - LOGO/VIDEO*/

.image_accueil{
    position: relative;
}

.image_accueil img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    min-width: 800px;
    object-fit: cover;
    z-index: -1;
}

.YVMA_text{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    color: white;
    font-size: 10vw;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.YVMA_subtext{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1.5vw;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* SÉPARATEUR */
.separation{
    width: 100%;
    height: 30px;
    background-color: white;
}


/* SECTION PROMO EN COURS*/
    /* sous section paintjob*/
.promo_couleur{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-position: center center;
    transition: all 0.7s ease-out;
}

.promo_couleur_info{
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.7s ease-out;
    color: white;
    pointer-events: none;
}

.promo_couleur:hover > .promo_couleur_info{
    opacity: 1;
}

.promo_couleur img:hover{
    filter: blur(3px) saturate(2.2) sepia(100%) brightness(40%);
}

.promo_couleur img{
    max-width: 100%;
    height: auto;
    transition: all 0.7s ease-out;
}

.promo_couleur_info h3{
    font-size: 4vw; 
}

.promo_couleur_info p{
    line-height: 1.5em;
    font-size: 2vw; 
}


    /* sous section photographe*/

.promo_photo{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    object-position: center center;
    transition: all 0.7s ease-out;
    
}

.promo_photo:hover{
}

.promo_photo_info{
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.7s ease-out;
    color: white;
    pointer-events: none;
}

.promo_photo:hover > .promo_photo_info{
    opacity: 1;
}

.promo_photo img:hover{
    filter: blur(3px) saturate(2.2) sepia(100%) brightness(40%);
}

.promo_photo img{
    max-width: 100%;
    height: auto;
    transition: all 0.7s ease-out;
}

.promo_photo:hover:not(){
    filter: blur(3px) saturate(2.2) sepia(100%) brightness(40%);
}

.promo_photo_info h3{
    width: 100%;
    font-size: 4vw; 
}

.promo_photo_info p{
    line-height: 1.5em;
    font-size: 2vw; 
}