
/* --------------------------------header admin-------------------------- */

.header-admin {

    background-color: #171717;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    position: fixed;
    left: 0;
    right: 0;

}

.header-admin .brand_text{

    margin-left: 15px;

}

.header-admin .menu-principale a {

    color: white;
    padding: 10px;
    display: block;

    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    /* text-decoration: underline; */

}

.header-admin a:hover {
 
    color: gold;
    
}

.header-admin a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    /* position: absolute; */
    margin: 0 auto;
    background: gold;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .header-admin a:hover:after { 
    width: 100%; 
    left: 0; 
  }


.header-admin .menu-principale {

    min-width: 1200px;
    display: flex;
    /* justify-content: space-around; */
    margin: 0;

}

.header-admin .menu-deroulant {

    overflow: hidden;
    max-height: 0;
    position: absolute;
    padding: 0 15px 0px 15px;
    width: 260px;
    z-index: 1;
    background: rgba(23,23,23,1);
    border-radius: 0 0 10px 10px;

    transition: padding 1s ease-out, max-height 0.5s ease-out;

}

.header-admin .parent-menu-deroulant{

    position: relative;
    margin-left: 36px;

}

.header-admin .parent-menu-deroulant:hover .menu-deroulant{

   max-height: 500px;
   padding: 30px 15px 15px 15px;

   transition: padding 0.5s ease-in, max-height 0.5s ease-in;

}


.header-admin picture {

    margin-left: 30px; 
    display: flex;

}
.header-admin img {

    width: 60px;

}

body{

    background-image: url(../images/adminV1.png);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 75px;

}

/* --------------------------------Ajouter une voiture-------------------------- */

.yu-formulaire {

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin: 50px auto;
    padding: 15px;
    box-shadow: 0 0 16px 15px rgba(0, 0, 0, 0.7)   

}

.yu-formulaire-supprimer{
    max-width: 320px;
}

.yu-formulaire .title {

    color: white;

}

.yu-formulaire label {
    color: white;
}

.yu-formulaire option {
    color: black;
}

.yu-formulaire label {

    display: block;
    margin-bottom: 10px;

}

.yu-formulaire > div {

    margin: 20px 0;

}

.yu-formulaire input, .yu-formulaire textarea, .yu-formulaire select {

    width: 100%;
    padding: 10px;
    color:black;

}

.yu-formulaire .yu-checkbox{
    display: flex;
}

.yu-formulaire .yu-checkbox label{
    width: 15%;
}

.yu-formulaire .yu-checkbox input{
    width: 5%;
}

.yu-formulaire .bouton-ajouter {

    display: block;
    color: white;
    font-size: 1.2em;
    background: rgba(73, 73, 73, 1);
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);

   
}

.yu-formulaire .bouton-ajouter:hover {

     box-shadow: inset 0 0 8px 1px rgb(0 0 0 / 70%);

}


/* --------------------------------section voiture liste---------------------------------- */

.yu-btn-ajouter{

    color: white;
    padding: 7px 15px;
    background: rgba(73, 73, 73, 1);
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);   
    max-width: 1024px;
    margin: 70px 0 0 0; 
    font-size: 1.2em; 
    font-weight: 600; 
    text-align: center;

}

.yu-btn-ajouter:hover{

    box-shadow: inset 0 0 8px 1px rgb(0 0 0 / 70%); 

}

.yu-btn-modifier{

    background: rgb(0, 107, 87, 1);
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);
    font-size: 1em; 
    font-weight: 600;    

}

.yu-btn-supprimer{

    background: #80292F;
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);
    font-size: 1em; 
    font-weight: 600; 

}

.yu-btn:hover{
    box-shadow: inset 0 0 8px 1px rgb(0 0 0 / 70%);
}


.yu-table-btn-ajouter{

    max-width: 92%;
    margin: 0 auto;

}

.yu-table, .yu-table th, .yu-table td {

    border: 1px solid white;
    border-collapse: collapse;
    color: white;

}


.yu-table{    

    margin: 70px auto;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 16px 15px rgba(0, 0, 0, 0.7); 
    border: 2px solid rgba(0, 0, 0, 0);

}

.yu-table-voiture{
    max-width: 1024px; 
    margin: 70px auto;   
}

.yu-table-groupeMP{
    max-width: 550px;
    margin: 70px auto;
}

.yu-table-corp{

    max-width: 700px;
    margin: 70px auto;

}

.yu-table-carburant{

    max-width: 700px;
    margin: 70px auto;

}

.yu-table-modele{

    max-width: 600px;
    margin: 70px auto;


}

.yu-table-transmission{

    max-width: 800px;
    margin: 70px auto;

}

.yu-table .yu-image img{

    max-width: 150px;

}

.yu-modal{

  background: rebeccapurple;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 

}

.yu-modal-container{
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

.yu-modal .btn-ferme{

    background: transparent;
    position: absolute;
    top: 65px;
    right: 45px;
    font-size: 60px;

}

.yu-modal .btn-ferme:hover{

    color:blanchedalmond;

}




