.compteColumns > input, .compteColumns > select {
    color: black;
    background-color: white;
    height: 21px;
}

.compteColumns > select {
    width: 145px;
    padding-top: 0px;
    padding-bottom: 0px;
}
