.connexionWrapper {
    padding-top: 170px;
    padding-bottom: 200px;
	min-width: 600px;
}

.login {
	margin: auto;
	width: 50%;
	border-radius: 5px;
    background: #171717;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 0 16px 15px rgba(0, 0, 0, 0.7);   

	text-decoration: none;
	text-align: center;
}

.login > label {
    font-weight: 100;
    font-size: 1.5em;
}

.login > a {
	display: block;
    font-size: .7em;
	padding-top: 5px;
	font-weight: 100;
}

.login > input {
	width: 70%;
	height: 30px;
	color: black;
	padding-top: 5px;
	text-align: center;
}

.login > button {
	display: block;
    color: rgb(0, 0, 0);
    font-size: 1em;
    background: #FFD700;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);
}
