.creationCompteWrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    min-width: 600px;
}

.creationCompte {
	margin: auto;
	width: 50%;
	border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    max-width: 400px;

    box-shadow: 0 0 16px 15px rgba(0, 0, 0, 0.7);   

	text-decoration: none;
	text-align: center;
}

.creationCompte > label {
    font-weight: 100;
    font-size: 1.5em;
}

.creationCompte > a {
	display: block;
    font-size: .7em;
	padding-top: 5px;
    font-weight: 100;
}

.creationCompte > input {
	width: 70%;
	height: 30px;
	color: black;
	padding-top: 5px;
	text-align: center;
}

.creationCompte > button {
	display: block;
    color: rgb(0, 0, 0);
    font-size: 1em;
    background: #FFD700;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(0 0 0 / 70%);
}

.creationCompte > select {
    color: rgb(0, 0, 0);
}