header{
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    font-size: 14px;
    max-width: 100%;
    min-width: 800px;
    max-height: 75px;
}

.navbar{
    display: flex;
    justify-items: start;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 75px;
    color: white;
    background-color: #171717;
    border-bottom: 2px solid white;
    z-index: 100;
}

.brand{
    margin-left: 15px;
    font-size: 50px;
}

.brand_text{
    font-family: 'Marcellus SC', serif;
    color: white; 
    font-size: 50px;
    transition: 0.2s all ease-out;
}

.brand_text:hover{
    color: gold;
}

.logo{
    width: 60px;
    margin-left: 30px;
}



.cart{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
}

.handshake_icon{
    margin-right: 15px;
    width: 75px;
}

.navbar li{
    display: inline;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    margin-right: 10px;
}

.nbItems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: black;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.menu{
    width: 50%;
}

.liens{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.liens a,
.connexion,
.langue{
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
    transition: 0.2s all ease-out;
}

.liens a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.liens a:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gold;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.liens a:visited{
    color: white;
}

.liens a:hover{
    color: gold;
} 

.liens a:hover:after { 
  width: 100%; 
  left: 0; 
}

.connexion{
    margin-right: 15px;
}

.liens_ham{
    display: flex;
    flex-direction: column;
    width: 20%; 
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.5s all ease-out;
}

.liens_ham a{
    padding-top: 15px;
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    border-top: 1px solid #333;
    background-color: #171717 ;
}

.liens_ham a:hover{
    background: gold;
    color: #171717;
    cursor: pointer;
}

.ham_icon div{
    justify-self: center;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    margin-right: 30px;
}

.container_connexion{
    display: flex;
    flex-direction: column;
}

.hamburger{
    position: absolute;
    right: -210;
    top: 52px;
    margin-left: 15px;
    z-index: 100;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    left: -280px;
    z-index: -1;
    background-color: #171717;
    margin-top: 23px;
    padding: 20px 0;
    width: 700px;
}

.vertical_line{
    border-left: 2px solid white;
    height: 300px;
    margin-top: 40px;
    margin-left: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    line-height: 3em;
}

.content span{
    font-size: 18px;
    text-decoration: underline white;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

@media screen and (max-width: 1200px){
    .liens li{
        display:none;
    }

    .brand, .brand-text{
        transform: scale(0.7);
        margin-left: -15px;
    }
}

@media screen and (min-width: 1201px){
    .ham_icon,
    .liens_ham {
        display:none;
    }
}