.panier {
    margin: 0 3%;
    min-height: 40%;
    padding: 40px;
}

@media (min-width: 1150px) {
    .panier {
        margin: 0 15%;
    }
}

.panier h1 {
    margin-bottom: 40px;
    font-size: 3em;
    text-align: left;
}

.contenant {
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: '1fr' '1fr' '1fr';
    line-height: 30px;
    margin-bottom: 40px;
    padding: 20px;
}

@media (min-width: 850px) {
    .contenant {
        grid-template-columns: 4fr 5fr 2fr;
        padding-bottom: 0;
    }
}

.milieu {
    margin: 0;
}

@media (min-width: 850px) {
    .milieu {
        margin-left: 30px;
        margin-top: -18px;
    }
}

.gauche img {
    height: auto;
    width: 100%;
}

.panier button {
    background-color: #171717;
    border: 1px solid white;
    font-size: 1em;
    height: 60px;
    transition: all 0.3s ease-out;
}

.panier button:hover {
    background-color: rgb(0, 107, 87, 1);
    transform: scale(1.1);
}

.sous-total {
    background-color:rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
}

.caisse {
    display: block;
    margin: 0 auto;
}

.panier input, .panier select {
    color: #171717;
    padding: 10px;
	width: 80%;
	margin-bottom: 30px;
}

.panier option {
    color: #171717;
}

.lien {
    display: block;
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
}

.lien:hover {
    color: rgb(0, 107, 87, 1);
}

.haut {
    margin-top: -170px;
}

.choix {
    display: flex;
    justify-content: center;
}

.choix button:first-of-type {
    margin-right: 40px;
}

.commande {
    display: flex;
    justify-content: flex-end;
}

.complete {
    background-color: rgba(0,0,0,0.8); 
    margin: 100px auto;
    padding: 15px;
    text-align: center;
    width: 300px;
}