.panier {
    display: block;
    margin: 0 15%;
    padding: 40px;
}

.panier h1 {
    text-align: left;
    margin-bottom: 40px;
}

.contenant {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.contenant img {
    width: 50%;
    height: auto;
}

/* SÉPARATEUR */
.separation {
    background-color: white;
    height: 30px;
    width: 100%;
}