.panier {
    margin: 0 15%;
    min-height: 40%;
    padding: 40px;
}

.panier h1 {
    margin-bottom: 40px;
    font-size: 3em;
    text-align: left;
}

.contenant {
    background-color:rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    margin-bottom: 40px;
    padding: 40px;
}

.contenant main {
    margin-left: 30px;
    margin-top: -18px;
}

.contenant img {
    height: auto;
    width: 100%;
}

.panier button {
    background-color: #171717;
    border: 1px solid white;
    font-size: 1em;
    height: 60px;
    transition: all 0.3s ease-out;
}

.panier button:hover {
    background-color: rgb(0, 107, 87, 1);
    transform: scale(1.1);
}

.sous-total {
    background-color:rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    padding: 20px 0;
    text-align: center;
}

.caisse {
    display: block;
    margin: 0 auto;
}

.panier input, .panier select {
    color: #171717;
    padding: 10px;
	width: 80%;
	margin-bottom: 30px;
}

.panier option {
    color: #171717;
}

/*Style Modal Yuliya*/
.yu-modal{
    background: rebeccapurple;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
}

/*Style Modal Yuliya*/
.yu-modal-container{
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}
  
/*Style Modal Yuliya*/
.yu-modal .btn-ferme{
    background: transparent;
    position: absolute;
    top: 65px;
    right: 45px;
    font-size: 60px;
}

/*Style Modal Yuliya*/
.yu-modal .btn-ferme:hover{
    color:blanchedalmond;
}